body{
    background-color: aquamarine;
}

h1{
    color: red;
    font-size: 35px;
    text-align: center;
}

img{
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

p{
    text-align: center;
}

ul{
    color: chocolate;
    font-size: 22px;
}

ol{
    color: chocolate;
    font-size: 22px;
}

.box{
    border: black;
}